html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #232941; /* WHALE BLUE */
  color: #F0F4F2;
  font-family: system-ui, -apple-system, sans-serif;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}